.faq-section-landing {
  width: 100vw;
  margin: auto;
  text-align: center;
  padding: 40px;
  background-color: #fff6db; /* Matching background */
}

.faq-title-landing {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: "Satisfy", cursive;
}

.faq-container-landing {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.faq-list-landing {
  width: 100%;
  max-width: 600px;
}

.faq-item-landing {
  background: linear-gradient(135deg, #00008b, #1e3fa0);
  color: white;
  padding: 20px;
  border-radius: 50px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.faq-item-landing:hover {
  background: linear-gradient(135deg, #1e3fa0, #3f5efb);
}

.faq-question-landing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  box-shadow: 8px 8x 16px #1e3fa0;
}

.arrow {
  font-size: 20px;
  transition: transform 0.3s ease;
}

.faq-item-landing.open .arrow {
  transform: rotate(180deg);
}

.faq-answer-landing {
  margin-top: 10px;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 8px;
}
