@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

.top-achievers-container {
  width: 100vw;
  min-height: 100vh;
  background-color: #fff6db;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

/* Styled Heading */
.top-achievers-heading {
  font-family: "Satisfy", cursive;
  font-size: 45px;
  font-weight: bold;
  color: black;
  text-align: center;
  margin: 0;
  padding: 15px 0;
  width: 100%;
  background-color: #fff6db; /* Matching background */

  top: 0;
  z-index: 10;
}
