/* Footer Styles */
footer {
  background-color: #fff6db;
  padding: 40px 20px;
  text-align: center;
  border-top: #636262 1px dashed;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between logo and text */
}

.footer-logo img {
  width: 60px; /* Adjust logo size */
  height: auto;
  border-radius: 50%;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.5);
}
.footer-brand {
  font-size: 22px;
  font-weight: bold;
  color: #000; /* Adjust as per design */
  text-shadow: 8px 8px 12px rgba(0, 0, 0, 0.7);
}
.footer-email {
  margin-top: 20px;
  font-size: 14px;
  color: #666;
}

.footer-center {
  text-align: center;
}

.footer-center img {
  height: 150px;
  border-radius: 50%;
}

.footer-center p {
  font-weight: 400;
  margin-top: 10px;
  color: #4a4a4a;
  opacity: 0.8;
}

.subscribe-box {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.subscribe-box input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  outline: none;
  width: 250px;
}

.subscribe-box button {
  background-color: #2563eb;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-weight: bold;
}

.footer-links {
  text-align: left;
  margin-top: 25px;
}

.footer-links h3 {
  font-weight: bold;
  font-size: 28px;
  color: #222;
  margin-bottom: 10px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.footer-links li {
  margin-bottom: 25px;
}

.footer-links a {
  color: #666;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #2563eb;
}

.footer-socials {
  margin-top: 20px;
}

.footer-socials button {
  font-size: 20px;
  margin: 0 8px;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.footer-socials button:hover {
  transform: scale(1.2);
}

.footer-bottom {
  margin-top: 20px;
  color: #666;
  font-size: 14px;
}
