/* Navbar.css */
.navbar {
  position: absolute;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  /* max-width: 1100px; */
  background: rgba(255, 255, 255, 0.1); /* Transparent background */
  backdrop-filter: blur(10px); /* Glassmorphism effect */
  border: 1px solid rgba(255, 255, 255, 0.2);
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
  box-shadow: inset 6px 6px 12px rgba(0, 0, 0, 0.4);
  border-radius: 50px;
  padding: 12px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  transition: transform 0.4s ease-in-out, opacity 0.3s ease-in-out;
}
/* .navbar.visible {
  transform: translate(-50%, 0);
  opacity: 1;
} */
/* .navbar.hidden {
  transform: translate(-50%, -100%);
  opacity: 0;
} */
/* Logo */
.navbar-logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.navbar-logo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.navbar-logo span {
  font-size: 1.2rem;
  font-weight: bold;
  color: #0f172a;
}

/* Navigation Links */
.navbar-links {
  display: flex;
  gap: 50px;
  align-content: flex-end;
  color: #000;
  list-style: none;
  margin-left: auto; /* Push options to the right */
  padding-right: 50px;
}

.link {
  list-style: none;
  display: flex;
  padding-left: 20px;
  gap: 6px;
  font-size: 1rem;
  font-weight: 500;
  color: #000;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  text-decoration: none;

  align-items: center;
  gap: 5px;
}

.navbar-links li:hover {
  color: #2563eb;
}

/* Sign-up Button */

.signup-button:hover {
  background: linear-gradient(135deg, #4f46e5, #1e40af);
}

/* Dropdown Menu */
.signup-dropdown {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 100%;
  right: -10%;
  transform: translateX(-50%);
  background: rgba(20, 20, 20, 0.5);
  border-radius: 10px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
  padding: 10px 10px;
  width: 200px;
  text-align: center;
  z-index: 10;
  opacity: 1;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

/* Dropdown Items */
.dropdown-item {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px;
  transition: 0.3s ease-in-out;
  font-size: 16px;
}

.dropdown-item:hover {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}
